@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url(./normalize.css);
@import url(./reset.css);
@import url(./a11y.css);
@import url(./theme.css);

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.mainSection {
  width: 1050px;
  margin: 0 auto;
}

.mainMain {
  margin: 40px 0;
}

.mainSub-titleRecommend-title {
  color: var(--content);
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
}

.mainSub-title {
  width: max-content;
  margin: 40px auto 0px auto;
}

.mainProduct {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  margin: 40px 0;
}

.product {
  position: relative;
  float: left;
  overflow: hidden;
}

.product-image-container {
  width: 248px;
}
.product-img {
  width: 248px;
  height: 320px;
}

.productCart {
  border: none;
  position: absolute;
  right: var(--text-10);
  bottom: 100px;
  background-color: transparent;
}

.product-name {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: var(--regular);
  font-size: var(--text-l6);
  margin-top: var(--text-l6);
}

.discount-rate {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: var(--bold);
  font-size: 20px;
  color: var(--accent-yellow);
}
.discount-price {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: var(--bold);
  font-size: 20px;
  color: var(--content);
}

.original-price {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: var(--regular);
  font-size: var(--text-12);
  color: var(--gray-400);
}

.mainAdvertisement {
  width: 1050px;
  padding: 40px 0;
}
